.dropdown__text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.dropdown__text-input {
    background-color: #e3e3e3;
    height: 4vh;
    width: 55vw;
    border-radius: 5px;
}

.dropdown__text-input:focus {
    outline: none;
}

.dropdown__generate-btn {
    background-color: rgb(11, 11, 11);
    padding: 1em;
    border-radius: 0.3em;
    color: white;
    border: white solid;
}

/*.dropdown__text-input {*/
/*    font-size: x-large;*/
/*    border-radius: 10px;*/
/*}*/


.dropdown__select-div-container {
    width: 100%;
}

.dropdown__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-family: Poppins-Regular;
    font-size: 1.2em;
}

@media screen and (min-width: 768px) {
    .dropdown__text-input {
        font-size: x-large;
        padding: 0.5em 1em 0.5em 1em;

    }
}

@media screen and (min-width: 1025px) {
    .dropdown__select-div-container {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 95vw;
        margin: auto;
        border-radius: 10px;
    }


    .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin: 2em 0 2em 0;
    }

    .dropdown__text-div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5em;
        margin: 0 0 2em 1em;

    }
    .dropdown__text-input {
        width: 60vw;
    }
    .dropdown__generate-btn {
        padding: 0;
        font-size: 2em;
        font-family: Poppins-Regular;
        width: 20vw;
        height: 8vh;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        border: 0.1px solid white;
    }

    .dropdown__generate-btn:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;

    }

    .dropdown__generate-btn:active {
        color: #000
    }

    .dropdown__generate-btn:active:after {
        background: transparent;
    }

    .dropdown__generate-btn:hover:before {
        opacity: 1;
    }

    .dropdown__generate-btn:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    label {
        display: none;
    }
}
