
@media screen and (min-width: 320px) {
    .about__logos {
        display: none;
    }
    .about__description {
        margin-left: 3em;
        margin-bottom: 3em;
        width: 80%;
    }
    .about__us {
        text-align: center;
        padding-top: 1em;
        margin-bottom: 1em;
        font-family: Poppins-Bold;
    }
}

@media screen and (min-width: 768px) {
    .about__us {
        text-align: center;
        padding-top: 2em;
        margin-bottom: 1em;
        font-family: Poppins-Bold;
    }

    .about__description {
        text-align: left;
        margin-left: 6em;
    }

    .about {
        height: 60vh;
        padding-top: 3em;
    }

    .about__us {
        font-size: 2em;
    }
}

@media screen and (min-width: 1025px) {

    .about__description {
        margin-left: 3em;
        margin-bottom: 3em;
        width: 80%;
        animation: fadeInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__java {
        height: 5em;
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__spring {
        height: 4em;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__react {
        height: 4em;
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__ts {
        height: 3em;
        animation: fadeInAnimation ease 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__azure {
        height: 3em;
        animation: fadeInAnimation ease 8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__postgresql {
        height: 5em;
        animation: fadeInAnimation ease 7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .about__logos {
        display: flex;
        justify-content: space-around;
        margin: 2em 2em 0 2em;
    }

    .about__us {
        text-align: left;
        padding-left: 1.5em;
        margin-bottom: 1em;
        font-family: Poppins-Regular;
        animation: fadeInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}
